/*help-page*/

.container_help-center{
    font-family: Arial, Helvetica, sans-serif;
    display:block;
    max-width:700px ;
    padding: 50px;
    margin: auto;
    
  
  }
  .Heading_help-center{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.115em;
    background: #053742;
    color:white;
    padding-left: 50px;
    padding-top:10px ;
    padding-bottom: 10px;
    padding-right:50px ;
    border: 3px solid white;
    border-radius: 7px;
    display: block;
    margin: auto;
    max-width: 700px;
    
    
  
   
  }
  .help-center_content
  {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration-line: underline;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.115em;
    font-style: normal;
    
    
    
  
  }
  .help-center_border{
    border:#053742 solid 3px;
    border-radius: 7px;
  
    
  }
 .questiions{
    text-align: center;

 }

 .icon
{
  height: 45px;
  width: 45px;
  position: absolute;
  top: 9px;
  bottom: 0px;
  left: 0px;
  right: 325px;
  margin-left: auto;
  margin-right: auto;
 
}
  /*help-page*/