/*notification_page*/
.notifi_content{
  font-family: Arial, Helvetica, sans-serif;
  
  
  
  font-size: 20px;
  
  text-align: center;

  
  
  font-style: normal;

}

.Heading_notifi{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.115em;
  background: #053742;
  color:white;
  padding-left: 50px;
  padding-top:10px ;
  padding-bottom: 10px;
  padding-right:50px ;
  border: 3px solid white;
  border-radius: 7px;
  display: block;
  margin: auto;
  max-width: 700px;}

.para_notifi{
    font-family: Arial, Helvetica, sans-serif;
    
    
    
    font-size: 20px;
    
    text-align: center;
    font-style: normal;
    
    
    
  
  }
  .notifi_border{
    border:#053742 solid 3px;
    border-radius: 7px;
    background: #053742;
    color:white;
    display: block;
    max-width:500px ;
    margin: auto;
    
  }

.group{
  display: block ;
  margin: auto;
  float: center;
  width: 150px;
 
}
.icon_notifi
{
  height: 45px;
  width: 45px;
  position: absolute;
  top: 9px;
  bottom: 0px;
  left: 0px;
  right: 350px;
  margin-left: auto;
  margin-right: auto;
 
}

/*notification_page*/