
/* profile page*/
.profilepage_photo
{
  height: 150px;
  margin: auto;
  width: 150px;
  position: relative;
  border: 2px solid #053742;
  border-radius: 50%;
  background-size: 150px;
  background-image: url(./icons/user.png);



}

.container_profilepage{
  font-family: Arial, Helvetica, sans-serif;
  display:block;
  max-width:700px ;
  padding: 50px;
  margin: auto;
  border:#053742 solid 3px;
  border-radius: 7px;
}

.label_photo{
  font-family: Arial, Helvetica, sans-serif;
display: block;
margin: auto;
text-align: center;}


.Heading_profilepage{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: #053742;
  color:white;
  padding-left: 50px;
  padding-top:10px ;
  padding-bottom: 10px;
  padding-right:50px ;
  border: 3px solid white;
  border-radius: 7px;
  display: block;
  margin: auto;
  max-width: 700px;
  letter-spacing: 0.115em;
}
 

.profilepage_inputfield_{
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px;
  width: 100%;
  display: block;
  border-radius: 5px;
  border: 2px solid #E8F0F2 ;
  background: white;
}

.Edit{
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  background-color: #053742;
  color: white;
  float: centre;
  width: 15%;
  padding: 5px;
  margin: auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
}
.box{
font-family: Arial, Helvetica, sans-serif;
border:#053742 solid 3px;
border-radius: 7px;
padding: 50px;
margin: auto;



}
.Update{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #053742;
  color: white;
  float: centre;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
  display: block;
  text-align: center;
  float: centre;
}

.profilepageinputfield_photo{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 0;
  align-items: center;
  padding-left: 32px;
  outline: none;
  color: transparent;
 }
.profilepageinputfield_photo::-webkit-file-upload-button{
  visibility: hidden;
}
.icon_profile
{
  height: 45px;
  width: 45px;
  position: absolute;
  top: 9px;
  bottom: 0px;
  left: 0px;
  right: 225px;
  margin-left: auto;
  margin-right: auto;
 
}

/* profile page*/
