.vemail_body{
    zoom: 85%;
}

.vemail_main_box{
    width: 740px;
    height: 740px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    border: 3px solid #000000;
    border-radius: 10px; 
}

.vemail_title_icon{
    height: 50px;
    width: 70px;
    position: absolute;
    top: 70px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
}

.vemail_title{
    width: 600px;
    height: 40px;
    position: absolute;
    top: 125px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
}

.vemail_sub_title1{
    width: 600px;
    height: 50px;
    position: absolute;
    top: 200px;
    bottom: 0px;
    left: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: Oxygen;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;
}
.vemail_sub_title2{
    width: 650px;
    height: 50px;
    position: absolute;
    top: 240px;
    bottom: 0px;
    left: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: Oxygen;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;
}
.vemail_sub_title3{
    width: 650px;
    height: 40px;
    position: absolute;
    top: 280px;
    bottom: 0px;
    left: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: Oxygen;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;
}
.vemail_sub_title4{
    width: 700px;
    height: 50px;
    position: absolute;
    top: 350px;
    bottom: 0px;
    left: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: Oxygen;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;
}

.vemail_text{
    width: 370px;
    height: 30px;
    position: absolute;
    top: 460px;
    left: 108px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.vemail_email_box{
    width: 370px;
    height: 45px;
    position: absolute;
    top: 530px;
    bottom: 0px;
    right: 140px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #000000;
}

.vemail_email_icon{
    width: 35px;
    height: 35px;
    float: left;
    margin: 7.5px;
}

.vemail_email_icon_image{
    width: 35px;
    height: 35px;
    position: absolute;
    
}

.vemail_email_text{
    width: 300px;
    height: 42px;
    float: right;
}

input{
    width: 295px;
    height: 100%;
    border-style: none;
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}

.vemail_reset_button_container{
    width: 107px;
    height: 45px;
    position: absolute;
    top: 625px;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

.vemail_reset_button{
    width: 100%;
    height: 100%;
    font-family: Oxygen;
    font-style: normal;
    font-size: 24px;
    background-color: #62E06E;
    border: 4px solid #000000;
    border-radius: 10px;
}